@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('./fonts/futura/futura_medium_bt.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Futura';
  src: url('./fonts/futura/Futura_Bold_font.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Goemetric-415-Black-BT';
  src: url('./fonts/goemetric/geometric_415_black_bt.ttf') format('truetype');
  font-weight: 400;
}
h1,h2, h3, h4, h5,h6, textarea{
  font-family: 'Goemetric-415-Black-BT', sans-serif;
}
p, span{
  font-family: 'Futura';
  font-weight: 500;
}
.slick-slider .slick-list{
  overflow: visible;
}
.slick-slide > div{
  display: flex;
  justify-content: center;
}
@media(min-width:1280px){
  .slick-current.slick-slide ~ div ~ div ~ div > div{
    display: flex;
    justify-content: flex-end;
  }
}
@media(min-width:1000px) and (max-width:1279px){
  .slick-current.slick-slide ~ div ~ div > div {
    display: flex;
    justify-content: flex-end;
  }
}
@media(max-width:999px){
  .slick-current.slick-slide ~ div > div{
    display: flex;
    justify-content: flex-end;
  }
}
.slick-current.slick-slide > div{
  display: flex;
  justify-content: flex-start;
}
.slick-prev{
  z-index: 10;
}
.nav .active{
  color: #C423C4;
}
.slick-slider .slick-next,
.slick-slider .slick-prev {
  display: block;
}

/* CSS rules for smaller screens */
@media (max-width: 767px) {
  .slick-slider .slick-next,
  .slick-slider .slick-prev {
    display: none !important;
  }
}

/* Assuming you're using some custom class or ID to style the player */
input[type="range"] {
  /* For WebKit browsers (e.g., Chrome, Safari) */
  --track-color: #800080; /* Change to your desired color */

  /* For Firefox */
  --moz-range-progress: #800080; /* Change to your desired color */

  /* For Microsoft Edge */
  --ms-thumb-color: #800080; /* Change to your desired color */
}

/* Custom styles for the track (optional) */
input[type="range"] {
  accent-color: var(--track-color);
}

input[type="range"]::-webkit-slider-runnable-track {
accent-color: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  accent-color: var(--moz-range-progress);
}

input[type="range"]::-ms-thumb {
  accent-color: var(--ms-thumb-color);
}





